extend extra/layout

block content

  .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    h1.h2 Envio de notificacoes

  .row
    .col-12.col-md-6.offset-md-3
      form
        .form-group                
          label Canal/Topico    
          select.form-control#channel
            option(value='none') Select a channel...
            each it in channels
              option(value='#{it}') #{it}     

        .form-group           
          label Usuario                  
          select.form-control#user
            option(value='none') Select a user...  

        .form-group       
          label Mensagem        
          textarea.form-control.textarea#message(rows='3')

        button.btn.btn-primary.send.pull-right Enviar


  .row.mt-5.error(style='display: none')
    .col-12.col-md-6.offset-md-3
      .alert.alert-danger.text-center
        | Problemas ao enviar notificacao

  .row.mt-5.success(style='display: none')
    .col-12.col-md-6.offset-md-3
      .alert.alert-success.text-center
        | Notificacao enviada com sucesso!

block js-inline
  script().
    $(document).ready(function(){

      $("#channel").on('change', function(){

        var channel = $("#channel option").filter(':selected').val()

        if(channel == 'none')
          return

        window.accounts = {}

        $.ajax({
          url: '/apps/' + channel,
          contentType: 'application/json',                 
          success: function(data){

            $("#user").empty()

            var opts = $('<option>', {value: 'none'})
            opts.text('Select a user or all users...')
            $("#user").append(opts)
            
            opts = $('<option>', {value: 'all'})
            opts.text('All users')
            $("#user").append(opts)

            window.accounts = data

            for(key in data){
              opts = $('<option>', { value: key })
              opts.text(key)            
              $("#user").append(opts)
            }


          },
          error:function(x, y, z){
            console.log(x)
            console.log(y)
            console.log(z)
          } 

        })

      })

      $('.send').on('click', function(){
        
        var channel = $("#channel option").filter(':selected').val()
        var user = $("#user option").filter(':selected').val()
        var message = $("#message").val()
        var error = false

        $('.is-invalid').removeClass('is-invalid')
        $('.error').hide(300)
        $('.success').hide(300)

        if(channel == 'none'){
          $("#channel").addClass('is-invalid')          
          error = true
        }

        if(user == 'none'){
          $("#user").addClass('is-invalid')
          error = true
        }

        if(!message || message.trim() == ""){
          $("#message").addClass('is-invalid')
          $("#message").parent().parent().find('.error').show(500)
          error = true        
        }

        if(error)
          return false

        if(channel.indexOf('-dev') == -1){
          if(!confirm('Você está enviando uma mensagem para produção. Você confirma?'))
            return false
        }


        var post = function(dataPost){
          $.ajax({
            url: '/event/' + channel,
            type: 'POST',
            contentType: 'application/x-www-form-urlencoded',
            data:dataPost,
            success: function(data){
              $('.success').show(500)
            },
            error:function(x, y, z){
              $('.error').show(500)
            }
          })        
        }

        var dataPost = {
          'msg': message,          
          'title': 'Notificação Teste'
        }

        if(user = 'none'){
          post(dataPost)
        }else{
          var devices = window.accounts[key]
          for(var i = 0; i < devices.length; i++){
            var item = devices[i]
            dataPost['data.user_id'] = item.subscrible_id
            post(dataPost)
          }
        }

        /*

          msg=${var.name} sent a new video: ${var.title}
          msg.fr=${var.name} a envoyé une nouvelle video: ${var.title}
          sound=newVideo.mp3
          data.user_id=fkwhpd
          data.video_id=1k3dxk
          var.name=John Doe
          var.title=Super awesome video

        */

        return false

      })

    })